<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.bankproject.testcase.TC_002_MultipleCustomer" />
			<class name="com.bankproject.testcase.TC_003_OpenAccMultilpleUser" />
		</classes>
	</test> 
</suite> 
